{% extends 'students/base.html' %}
{% block content %}
<h2>Course Management</h2>
<form method="POST">
    {% csrf_token %} {{ form.as_p }}
    <button type="submit">Add Course</button>
</form>
<hr>
<table border="1" style="width:100%">
    <tr>
        <th>Course Name</th>
        <th>Units</th>
        <th>Instructor</th>
        <th>Actions</th> </tr>
    {% for c in courses %}
    <tr>
        <td>{{ c.course_name }}</td>
        <td>{{ c.units }}</td>
        <td>{{ c.teacher.teacher_name }}</td>
        <td>
            <a href="{% url 'course_update' c.pk %}" class="btn-edit">Edit</a> | 
            <a href="{% url 'course_delete' c.pk %}" 
                class="btn-delete" 
                onclick="return confirm('Are you sure you want to delete the course: {{ c.course_name }}?');">
                Delete
            </a>
    </tr>
    {% empty %}
    <tr><td colspan="4">No courses found.</td></tr>
    {% endfor %}
</table>
{% endblock %}